$font-stack:  "Courier New", Courier, monospace;
$font-color: #FFFFFF;
$font-size: 10px;
.tooltip {
	// display: block;
	position: absolute;
	/*position: fixed;*/
	top: 50px;
	left: 20px;
	/* top: 100px;*/
	/*left: 100px;*/
	// -moz-border-radius:1px;
	// border-radius: 3px;
	border: 1px solid #DDD;
	background-color:rgba(138, 151, 177, 0.3);
	opacity: 1.0;
	font-family: $font-stack;
	color: $font-color;
	// color: #0000.5;
	// margin: auto;
	width: 300px;
	font-size:$font-size;
	z-index: 120;

	p.main {
		opacity:0.9;
		text-align: left;
		margin:1px;
		color: White;
	}

	.title {
	  font-size: 28px;
	  line-height: 24px;
	}

	.name {
	  font-weight:normal;
	}


}

hr.tooltip-hr {
	padding:0px 0 0 0;
	margin:3px 0 3px 0;
	border-bottom: 0px;
}
